---
---
<!DOCTYPE html>
<html>
<head>
  <title>Loading...</title>
</head>
<body>
<script>

  // Thanks https://mathiasbynens.be/notes/xhr-responsetype-json
  var getJSON = function(url, successHandler, errorHandler) {
    var xhr = new XMLHttpRequest();
    xhr.open('get', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status == 200) {
        successHandler && successHandler(xhr.response);
      } else {
        errorHandler && errorHandler(status);
      }
    };
    xhr.send();
  };

  getJSON('http://api.ryanseys.com/name.json', function(name) {
    var new_title = name.first + '\'s API';
    document.title = new_title;
    h1title.innerHTML = 'Welcome to ' + new_title;
  });

</script>
<h1 id='h1title'>Loading...</h1>
<ul>
  {% for page in site.pages %}
  {% if page.url != '/index.html' %}
    <li>
      <a href="{{ page.url }}">{{ page.url }}</a>
    </li>
  {% endif %}
  {% endfor %}
</ul>
</body>
</html>

